<div class="py-5 bg-dark">
	<div class="container">
		<div class="row pt-5 border-top">
			<div class="col-12 col-md text-light col-md-3">한의학 고서 목록 <small class="d-block mb-3 text-light"><a href="http://info.mediclassics.kr/contents/members" target="_blank" class="">KM-ongoing TEAM © 2020</a></small> </div>
			<div class="col-6 col-md col-md-3">
				<h5><b>Features</b></h5>
				<ul class="list-unstyled">
					<li>
						<a class="text-light" href="{{site.baseurl}}/search">검색</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-md col-md-3">
				<h5><b>Documents</b></h5>
				<ul class="list-unstyled">
					<li>
						<a class="text-light" href="{{site.baseurl}}/thanks">감사의 글</a>
					</li>
					<li>
						<a class="text-light" href="{{site.baseurl}}/legend">범례</a>
					</li>
					<li>
						<a class="text-light" href="{{site.baseurl}}/realese">업데이트 이력</a>
					</li>
					<li>
						<a class="text-light" href="{{site.baseurl}}/discussion">오류신고 및 제안</a>
					</li>
				</ul>
			</div>
			<div class="col-6 col-md col-md-3">
				<h5><b>About</b></h5>
				<ul class="list-unstyled">
					<li class="text-light">
						<a class="text-light" href="https://mediclassics.kr/" target="_blank">한의학고전DB</a></li>
					<li class="text-light">
						<a class="text-light" href="http://info.mediclassics.kr/bookshelf/list/distBook/%ED%95%9C%EA%B5%AD%EC%9D%98%ED%95%99%EC%82%AC%EB%A3%8C%EC%B4%9D%EC%84%9C" target="_blank">한국의학사료총서(PDF)</a></li>
					<li class="text-light">
						<a class="text-light" href="http://info.mediclassics.kr/contents/members" target="_blank">KM-ongoing TEAM</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<a style="display:scroll;position:fixed;bottom:15px;right:15px;" href="#" title="top"><img src="assets/images/top.png"></a>
