<script type="text/javascript" src="assets/js/jquery.dataTables.min.js"></script>

<!-- 헤더 고정 기능-->
<script type="text/javascript" src="assets/js/dataTables.fixedHeader.min.js"></script>

<!-- Row Group-->
<script type="text/javascript" src="assets/js/dataTables.rowGroup.min.js"></script>

<!-- 데이터 파일 및 테이블 만들기-->
<script type="text/javascript" class="init" src="assets/js/booklist_data.js"></script>
<script type="text/javascript" class="init" src="assets/js/booklist.js"></script>

<!-- 검색페이지 복사, 엑셀, 프린트 기능-->
<script type="text/javascript" src="assets/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="assets/js/jszip.min.js"></script>
<script type="text/javascript" src="assets/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="assets/js/buttons.print.min.js"></script>

<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="assets/js/dataTables.rowGroup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/v/ju/dt-1.10.20/af-2.3.4/datatables.min.js"></script>
-->
